.btn-success{
border-radius: 0px!important;
color:#fff!important;
padding:5px;
font-weight: 600!important;
border-color: #FC6D0A!important;
background-color: #FC6D0A!important;
}
.btn-primary1{
border-radius: 0px!important;
color:#000!important;	
padding:5px;
font-weight: 600!important;
border-color:#F4F4F4!important;
background-color: #fff!important;
}